.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #1a1a1a;
}

.main-content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
  }
}
